@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --color-red: #e84b3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

section#blog-w {
    padding: 30px 30px 0 80px;
    margin-bottom: 90px;
}

article.blog-post {
    position: relative;
    padding: 20px 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    margin-bottom: 30px;
}

article.blog-post > h3.title {
    margin-bottom: 16px;
}

article.blog-post > div.info {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    text-align: center;
    background-color: var(--color-red);
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
}

div#page-position-w {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 10px;
}

div#page-position-w span.position {
    display: block;
    width: 10px;
    height: 30px;
    background-color: var(--color-red);
    opacity: 0.5;
    margin-bottom: 4px;
    border-radius: 2px;
}

div#page-position-w span.position.active {
    opacity: 1;
    color: #fff;
}